#infoUser{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#sintomaObs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#areaEndereco{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.partesEndereco{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#areaMapa{
    display: flexbox;
    flex-direction: row;
    width: 50%;
}
#imagem{
    display: flex;
    flex-direction: row;
    width: 100%;

}