body{    
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px;
    padding: 20px; 
}

#infoUser {
    display: flex;
    flex-direction: column;
    width: 48%; 
    box-sizing: border-box; 
}


#sintomaObs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#areaEndereco{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.partesEndereco{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#areaMapa {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    width: 48%; 
    
    
    box-sizing: border-box; 
    
}
#imagem {
    max-width: 100%; /* Garante que a imagem seja responsiva e caiba dentro da areaMapa */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove o espaço extra abaixo da imagem */
    
}

